@charset "UTF-8";
/* CSS Document */
.center {
  margin: auto;
	align-content: center;
	width: 100%;
}
.mainMenuBarAnchor {
            position: fixed;
            top: 0;
	left: 0;
	overflow: hidden;
            
        }  

.element {
  display: inline-block;
	overflow: hidden;
	width: auto;
}

#full {
	width: 100%;
}

#buffer {
	width: 100%;
	height: 30px;
		
}
#dog {
	width: 100%;
	
	
}